# Object files
objs/
*.o

# Libraries
*.lib
*.a

# Executables
minishell
*.out

# Config files
*.json
*.txt

# Cache files
.cache/

# Trash
*.nfs*
*.DS*
minishell_tester/

# CodeQL temporary files
_codeql_detected_source_root
